<!DOCTYPE html>
<html>
<head>
<title>{{metaTags.title}}</title>
<meta name="description" content="{{metaTags.description}}">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="{{metaTags.robots}}">
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/index.js"></script>

</head>
  <body>
    <div class="mainContainer">
      <div class="header">
          <div class="imgLogoDiv">
            <a href="/"><div class="logoHeader"><img src="/images/baLogo.png" alt="{{metaTags.title}}" title="{{metaTags.title}}"></div></a>
          </div>
          <div class="description_page">
            <p>{{metaTags.description}}</p>
          </div>
      </div>
      <div class="container">
          <div class="centerContainer">
            {{{body}}}
          </div>
          {{#unless categoryId}}
          <div class="lateralContainer">
            <div class="mainMenu">
              <div class="home"><a href="/anuncios"><img src="/images/inicio.svg" id="postAdIconHome">Home</a></div>
              <div class="postAd"><a href="/publicar-anuncio"><img src="/images/pencil.png" id="postAdIcon">Publicar</a></div>
              <div class="my-ads"><a href="/mis-anuncios"><img src="/images/myAdsIcon.png" id="myAdsIcon">Mis Anuncios</a></div>
          </div>
          <div class="lateralContainer">
            <div class="accordion">
                <section class="accordion-item">
                    <h1>MOTOR</h1>
                      <div class="accordion-item-content">
                        <a href="/anuncios/motor/coches-segunda-mano"><li>Coches</li></a>
                        <a href="/anuncios/motor/todoterrenos-segunda-mano"><li>Todoterreno</li></a>
                        <a href="/anuncios/motor/motos-segunda-mano"><li>Motos</li></a>
                      </div>
                </section>
                <section class="accordion-item">
                    <h1>EMPLEO</h1>
                      <div class="accordion-item-content">
                        <a href="/anuncios/empleo/servicio-domestico"><li>Servicio Doméstico</li></a>
                        <a href="/anuncios/empleo/camareros"><li>Camareros</li></a>
                        <a href="/anuncios/empleo/educacion-profesores"><li>Educación</li></a>
                        <a href="/anuncios/empleo/administrativos"><li>Administrativ@s</li></a>
                        <a href="/anuncios/empleo/otros-trabajos"><li>Otros</li></a>
                      </div>
                </section>
                <section  class="accordion-item">
                    <h1>CASA Y JARDIN</h1>
                    <div class="accordion-item-content">
                      <a href="/anuncios/casa-jardin/herramientas-bricolaje"><li>Bricolaje</li></a>
                      <a href="/anuncios/casa-jardin/bebes-segunda-mano"><li>Para bebés</li></a>
                      <a href="/anuncios/casa-jardin/electrodomesticos-segunda-mano"><li>Electrodomésticos</li></a>
                      <a href="/anuncios/casa-jardin/muebles-segunda-mano"><li>Muebles</li></a>
                      <a href="/anuncios/casa-jardin/ropa-segunda-mano"><li>Ropa</li></a>
                      <a href="/anuncios/casa-jardin/otros-hogar"><li>Otros</li></a>
                    </div>
                </section>
                <section class="accordion-item">
                    <h1>CONTACTOS</h1>
                      <div class="accordion-item-content">
                        <a href="/anuncios/contactos/mujeres"><li>Contactos con Mujeres</li></a>
                        <a href="/anuncios/contactos/gays"><li>Contactos con Gays</li></a>
                        <a href="/anuncios/contactos/trans"><li>Contactos con Trans</li></a>
                        <a href="/anuncios/contactos/hombres"><li>Contactos con Hombres</li></a>
                        <a href="/anuncios/contactos/otras-relaciones"><li>Otros Contactos</li></a>
                      </div>
                </section>
            </div>
          </div>
        </div>
        {{/unless}}
      </div>
        <div class="footer">
          <div class="legalContainer">
            <div>
              <a href="/terminos-y-condiciones"> Términos y Condiciones</a>
            </div>
            <div>
              <a href="/politica-privacidad"> Política de Privacidad </a>
            </div>
            <div>
              <a href="/cuadro-cookies">Política de Cookies</a>
            </div>
          </div>
            {{!-- <div>
            ¡Contactar BuenAnuncio!
            </div> --}}
        </div>
    </div>
  </body>
</html>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>