<!DOCTYPE html>
<html>
<head>
<title>{{metaTags.title}}</title>
<meta name="description" content="{{metaTags.description}}">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='/stylesheets/style.css'/>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/index.js"></script>

</head>
  <body>
    <div class="mainContainer">
      <div class="header">
          <div class="imgLogoDiv">
            <a href="/"><div class="logoHeader"><img src="/images/baLogo.png" alt="{{metaTags.title}}" title="{{metaTags.title}}"></div></a>
          </div>
          <div class="description_page">
            <p>{{metaTags.description}}</p>
          </div>
      </div>

      <div class="container">
          <div class="centerContainer">
            {{{body}}}
          </div>
          <div class="lateralContainer">
            <div class="mainMenu">
              <div class="home"><a href="/anuncios"><img src="/images/inicio.svg" id="postAdIconHome">Home</a></div>
              <div class="postAd"><a href="/publicar-anuncio"><img src="/images/pencil.png" id="postAdIcon">Publicar</a></div>
              <div class="my-ads"><a href="/mis-anuncios"><img src="/images/myAdsIcon.png" id="myAdsIcon">Mis Anuncios</a></div>
          </div>

          <div class="lateralContainer">
            
            <div class="accordion">
                <section class="accordion-item">
                    <h1>MOTOR</h1>
                    <div class="accordion-item-content">
                      <a href="/anuncios?parentCategory=1&category=1&state="><li>Coches</li></a>
                      <a href="/anuncios?parentCategory=1&category=3&state="><li>Todoterreno</li></a>
                      <a href="/anuncios?parentCategory=1&category=2&state="><li>Motos</li></a>
                    </div>
                </section>
                <section class="accordion-item">
                    <h1>EMPLEO</h1>
                    <div class="accordion-item-content">
                      <a href="/anuncios?parentCategory=2&category=1&state="><li>Servicio Doméstico</li></a>
                      <a href="/anuncios?parentCategory=2&category=2&state="><li>Camareros</li></a>
                      <a href="/anuncios?parentCategory=2&category=3&state="><li>Educación</li></a>
                      <a href="/anuncios?parentCategory=2&category=4&state="><li>Administrativ@s</li></a>
                      <a href="/anuncios?parentCategory=2&category=5&state="><li>Otros</li></a>
                    </div>
                </section>
                <section  class="accordion-item accordion-item">
                    <h1>CASA Y JARDIN</h1>
                    <div class="accordion-item-content">
                      <a href="/anuncios?parentCategory=3&category=1&state="><li>Bricolaje</li></a>
                      <a href="/anuncios?parentCategory=3&category=2&state="><li>Para bebés</li></a>
                      <a href="/anuncios?parentCategory=3&category=3&state="><li>Electrodomésticos</li></a>
                      <a href="/anuncios?parentCategory=3&category=4&state="><li>Muebles</li></a>
                      <a href="/anuncios?parentCategory=3&category=5&state="><li>Ropa</li></a>
                      <a href="/anuncios?parentCategory=3&category=6&state="><li>Otros</li></a>
                      </div>
                </section>
                <section class="accordion-item">
                    <h1>CONTACTOS</h1>
                    <div class="accordion-item-content">
                      <a href="/anuncios?parentCategory=4&category=1&state="><li>Contactos con Mujeres</li></a>
                      <a href="/anuncios?parentCategory=4&category=2&state="><li>Contactos con Gays</li></a>
                      <a href="/anuncios?parentCategory=4&category=3&state="><li>Contactos con Trans</li></a>
                      <a href="/anuncios?parentCategory=4&category=4&state="><li>Contactos con Hombres</li></a>
                      <a href="/anuncios?parentCategory=4&category=5&state="><li>Otros Contactos</li></a>
                    </div>
                </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>