<div class="adsContainer">
  {{#each ads.[0].ad as |ad|}}
    <div class="ads">
        <div class="firstRow">
          <div class="ofertaDemanda">{{ad.type}}</div>
          <div class="categoryCity">{{ad.category}} en {{ad.city}}</div>
          <div class="reference">r{{ad.reference}}</div>
          <div class="time">{{ad.createdAt}}</div>
        </div>
        <div class="adBody">
          <div class="adTexts">
          <div class="title">{{ad.title}}</div>
          <div class="description">{{ad.description}}</div>
          </div>
          <div class="adImage"></div>
        </div>
        <div class="lastrow">
          <div class="adTexts">
            <button class="adRenweButton">Renovar</button>
            <a href="/usuario/editar/{{ad.id}}"><button class="adEditButton">Edit</button></a>
            <form action="/usuario/borrar/{{ad.id}}" method="POST">
              <button class="adButton">Borrar</button>
            </form>
          </div>
        </div>
    </div>
  {{/each}}
</div>