<div class="form-style-3">
  <form action="/usuario/editar/{{ad.id}}" method="POST">
    <fieldset><legend>Personal</legend>
      <label for="field1"><span>Nombre <span class="required">*</span></span><input type="text" class="input-field" name="name" value="{{ad.name}}"/></label>
      {{errors.name}}
      <label for="field3"><span>Teléfono </span><input type="text" class="input-field" name="phone" value="{{ad.phone}}"/></label>
      {{errors.phone}}
    </fieldset>
    <fieldset>
        <legend>Editar Anuncio</legend>
        <label for="field1"><span>Título <span class="required">*</span></span><input type="text" class="input-field" name="title" value="{{ad.title}}"/></label>
        {{errors.title}}
        <label for="field6"><span>Descripción <span class="required">*</span></span><textarea name="description" class="textarea-field">{{ad.description}}</textarea></label>
        {{errors.description}}
        <label><input type="submit" value="Terminar" /></label>
    </fieldset>
  </form>
</div>