<div class="adsContainer">
  <div class="myAds-session">
    <div class="passMod">
      <a href="usuario/actualizar-clave"><div class="divImgMyadsPass"><img src="/images/password.png" id="myPassIcon"></div><div><p>Cambiar contraseña</p></div></a>
    </div>
      {{#if session}}
        <div class="logout">
          <a href="/logout"><div><p>Cerrar sesión</p></div><div class="divImgMyadsPass"><img src="/images/logout_ba.png" id="myLogOutIcon"></div></a>
        </div>
      {{/if}}
  </div>
  {{#each ads as |ad|}}
    <div class="ads">
        <div class="firstRow">
          <div class="ofertaDemanda">{{ad.vendor}}</div>
          <div class="categoryState">{{ad.category}} en {{ad.city}} ({{ad.state}})</div>
          <div class="reference">r{{ad.reference}}</div>
          <div id="renovate{{ad.reference}}" class="time">{{#date ad.renovate}}{{/date}}</div>
        </div>
        <div class="adBody">
          <div class="adTexts">
            <div class="title"><strong>{{#toUpperCase ad.brand  ad.carmodel ad.cv ad.doors ad.title}} {{/toUpperCase}} {{!-- {{#if ad.brand}}{{ad.brand}} - {{ad.carmodel}}{{/if}}{{ad.title}} --}}</strong></div>
            <div class="description">{{ad.description}} {{#if ad.color}} ... Color {{ad.color}}{{/if}}</div>
          </div>
            <div class="adImage">
              <a href="#{{ad.reference}}img"><img class="imgAd" src="{{ad.image.imgPath.[0]}}"/></a>
              <div class="lightboxImg" id="{{ad.reference}}img">
                <figure>
                  <a href="#close" class="close" onclick="myFun2('{{ad.reference}}imgNext', '{{ad.image.imgPath.[0]}}')"></a>
                    <figcaption>
                      <img onclick="myFun('{{ad.reference}}imgNext','{{ad.image.imgPath}}')" class="imgAd" id="{{ad.reference}}imgNext" display="block" src="{{ad.image.imgPath.[0]}}"/>
                    </figcaption>
                </figure>
              </div>
            </div>
        </div>
                <div class="attributesRow">
          {{#if ad.engine}}
            <div class="atrAds atrEngine">
              <span>{{ad.engine}}</span>
              <span class="textAtr">cc</span>
            </div>
          {{/if}}
          {{#if ad.year}}
            <div class="atrAds atrYear">
              <span>{{ad.year}}</span>
              <span class="textAtr">Año</span>
            </div>
          {{/if}}
          {{#if ad.km}}
            <div class="atrAds atrKm">
              <span class="getDot">{{ad.km}}</span>
              <span class="textAtr">Kms</span>
            </div>
          {{/if}}
          {{#if ad.price}}
            <div class="atrAds atrPrice" >
              <span class="getDot">{{ad.price}}€</span>
              <span class="textAtr">Precio</span>   
            </div>
          {{/if}}
          {{#if ad.fuel}}
            <div class="atrAds atrFuel">
              <span class="getDot">{{ad.fuel}}</span>
            </div>
          {{/if}}
        </div>
        <div class="lastrow">
          <div class="adTexts">
              <button class="adButton" onclick="renovateMyAds('{{ad.id}}','{{ad.renovate}}', '{{ad.reference}}')">Renovar</button>
            <a href="/usuario/editar/{{ad.id}}"><button class="adEditButton">Editar</button></a>
            <a href="/usuario/editar-fotos/{{ad.id}}"><button class="adEditButton">Fotos</button></a>
            <a href="#{{ad.reference}}"><button>Borrar</button></a>
            <div class="lightbox" id="{{ad.reference}}">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <form action="/usuario/borrar/{{ad.id}}" method="POST">
                    <p>¿Seguro que quieres borrar el anuncio?</p>
                    <button class="adButton">Aceptar</button>
                    <a href="#close"><input type="button" value="Cancelar"></a>
                  </form>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
    </div>
  {{/each}}
</div>
<script>
  //IMAGES
  let ind = -1;
  //next-prev image
  function myFun(ref,str){
    const arr = str.split(',');
    const len = arr.length;
    if(len > 1) {
      if(ind < 0) {
        document.getElementById(ref).src = arr[1]
        ind = 1;
      }
      else if(ind < len - 1){
        ind = ind + 1;
        document.getElementById(ref).src = arr[ind]
      } else {
      ind = 0;
      document.getElementById(ref).src = arr[ind]
      }
    }
  }
  // close image => reset counter to 0
    function myFun2(ref,str){ 
      ind = -1;
      document.getElementById(ref).src = str;
  }
</script>

<script>

function numberWithCommas(x) {
  for(i=0;i<x.length;i++) {
    document.getElementsByClassName('getDot')[i].innerHTML = x[i].innerHTML.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
  }
    
}
  const n = document.getElementsByClassName('getDot');
  numberWithCommas(n);

</script>

<script>
  const img = document.getElementsByClassName('adBody');
  for(i=0;i<img.length;i++) {
    console.log(img[i].querySelectorAll('.imgAd')[0].outerHTML)
    if(img[i].querySelectorAll('.adImage').length == 0){
      img[i].querySelectorAll('.adImage').remove;
      img[i].querySelectorAll('.adTexts')
      img[i].querySelectorAll('.adTexts')[0].style["width"] = '100%';
    }
  }
</script>