<div class="upFormPost">
  <form class="formPostCar" action="/publicar-anuncio/{{categoryId}}{{ad.category}}" method="POST" enctype="multipart/form-data">
    <div class="containerFieldset">
    <div class="fieldsetLeft">
    <fieldset class="fieldsetPost">
      <div class="titleForm">
        <label for="field1">
            <span>Título <span class="required">*</span></span>
            <input id="titleInput" type="text" class="input-field" name="title" value="{{ad.title}}"/>
        </label>
      </div>
      <span class="errorPosting"> {{errors.title}}</span>
          <div class="yearForm"> 
            <label for="field3" id="yearKm">
              <span id="spanPostYearKm">Edad <span class="required">*</span></span>
                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength = "4" id="inputPostage" type="number" class="input-field" name="age" value="{{ad.age}}"/>
                <span class="errorPosting"> {{errors.age}}</span>
            </label>
          </div>
      <div class="descriptionFrom">
        <label for="field6"><span>Descripción <span class="required">*</span></span>
          <textarea rows="6" name="description" id="textAreaForm" class="textarea-field textAreaForm">{{ad.description}}</textarea>
        </label>
          <span class="errorPosting"> {{errors.description}}</span>
      </div>
      </fieldset>
      </div>
      <div class="fieldsetRight">
      <fieldset class="fieldsetPost">
        <div class="stateCityForm">
        <div class="stateForm">
        <label for="field4"><span>Provincia <span class="required">*</span></span>
          <select id="selectState" name="state" class="select-field">
            {{#select ad.state }}
              <option value="">Elige Provincia</option>
              <option value="15">A Coruña</option>
              <option value="2">Albacete</option>
              <option value="3">Alicante</option>
              <option value="4">Almería</option>
              <option value="1">Álava</option>
              <option value="33">Asturias</option>
              <option value="5">Ávila</option>
              <option value="6">Badajoz</option>
              <option value="7">Baleares</option>
              <option value="8">Barcelona</option>
              <option value="9">Burgos</option>
              <option value="10">Cáceres</option>
              <option value="11">Cádiz</option>
              <option value="39">Cantabria</option>
              <option value="12">Castellón</option>
              <option value="13">Ciudad Real</option>
              <option value="14">Córdoba</option>
              <option value="16">Cuenca</option>
              <option value="51">Ceuta</option>
              <option value="20">Guipúzcoa</option>
              <option value="17">Girona</option>
              <option value="18">Granada</option>
              <option value="19">Guadalajara</option>
              <option value="21">Huelva</option>
              <option value="22">Huesca</option>
              <option value="23">Jaén</option>
              <option value="24">León</option>
              <option value="25">Lleida</option>
              <option value="27">Lugo</option>
              <option value="28">Madrid</option>
              <option value="29">Málaga</option>
              <option value="52">Melilla</option>
              <option value="30">Murcia</option>
              <option value="31">Navarra</option>
              <option value="32">Ourense</option>
              <option value="34">Palencia</option>
              <option value="35">Las Palmas</option>
              <option value="36">Pontevedra</option>
              <option value="26">La Rioja</option>
              <option value="37">Salamanca</option>
              <option value="38">Tenerife</option>
              <option value="40">Segovia</option>
              <option value="41">Sevilla</option>
              <option value="42">Soria</option>
              <option value="43">Tarragona</option>
              <option value="44">Teruel</option>
              <option value="45">Toledo</option>
              <option value="46">Valencia</option>
              <option value="47">Valladolid</option>
              <option value="48">Vizcaya</option>
              <option value="49">Zamora</option>
              <option value="50">Zaragoza</option>
            {{/select}}
          </select>
        </label>
        <span class="errorPosting"> {{errors.state}}</span>
        </div>
        <div class="cityForm">
          <label for="field3"><span>Localidad </span>
            <input type="text" id="cityInput" class="input-field" name="city" value="{{ad.city}}"/>
          </label>
            <span class="errorPosting"> {{errors.city}}</span>
        </div>
        </div>
        <label for="field2"><span>Email <span class="required">*</span></span>
          <input type="email" id="emailInput" class="input-field" name="email" value="{{#if session}}{{session.email}}{{else}}{{ad.email}}{{/if}}"/>
        </label>  
        <span class="errorPosting"> {{errors.email}}</span>
        <div class="namePhone">
          <div class="nameForm">
            <label for="field1"><span>Nombre <span class="required">*</span></span>
                <input id="nameInput" type="text" class="input-field" name="name" value="{{ad.name}}" pattern="[a-zA-Z]*"/>
            </label>
              <span class="errorPosting"> {{errors.name}}</span>
          </div>
          <div class="phoneForm">
            <label for="field3"><span>Teléfono </span>
                <input id="phoneInput" type="number" class="input-field" name="phone" value="{{ad.phone}}"/>
            </label>
              <span class="errorPosting"> {{errors.phone}}</span>
          </div>
        </div>
        <article id="imageBlock">
          <input type="file" name="image" id="files" multiple accept="image/png, image/jpeg"/>
            <output id="result">
        </article>
        <div class="checkCCGG">
          <input name="checkCCGG" {{#if ad.checkCCGG}} checked {{/if}} type="checkbox" required><span>Estoy de acuerdo con los términos, condiciones y la política de privacidad</span>
        </div>
        <label class="finalSubmitPost">
          <input id="submitPost" type="submit" value="Publicar"/>
        </label>
      </fieldset>
      </div>
    </div>
  </form>
</div>
<script>

window.onload = function(){

//Check File API support
if(window.File && window.FileList && window.FileReader)
{
var filesInput = document.getElementById("files");

filesInput.addEventListener("change", function(event){

var files = event.target.files; //FileList object
var output = document.getElementById("result");
var art = document.getElementById("imageBlock");

if(files.length == 0) {
  var alertElement = document.createElement("p");
  alertElement.setAttribute("id", "alertForImg");

  var text = document.createTextNode("¿No vas a subir fotos? :-(");

  alertElement.appendChild(text);
  art.appendChild(alertElement);
  alertElement.style.cssText = "font-size:16;color:red;font-weigth:900";

  output.removeChild(output.childNodes[1]); 
  output.style["display"] = "none";
} else {
  output.style["display"] = "flex";
  if(document.getElementById("alertForImg")){  
    document.getElementById("alertForImg").remove();
  }

}


for(var i = 0; i< files.length; i++)
{
var file = files[i];

//Only pics
if(!file.type.match('image'))
continue;

var picReader = new FileReader();

picReader.addEventListener("load",function(event){

var picFile = event.target;

var div = document.createElement("div");

div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" + "'/>";

output.insertBefore(div,null);            

});

//Read the image
picReader.readAsDataURL(file);
}                               

});
}
else
{
console.log("Your browser does not support File API");
}
}
</script>

