<div class="searchBox">
  <form action="/anuncios" method="GET" >
    <div class="firstRowSearch">
      <div class="categorySearch">
      <select onchange="ChangeCarList()" id ="parentCategory" name="parentCategory" class="select-field">
      {{#select parentCategory}}
        <option value="">Elige Categoría</option>
        <option value="1">Motor</option>
        <option value="2">Empleo</option>
        <option value="3">Casa y Jardín</option>
        <option value="4">Contactos</option>
      {{/select}}
      </select>
      </div>
      <div class="subCategorySearch" id="subCategorySearch" {{#if motor}} style="display:block" {{/if}} 
      {{#if empleo}} style="display:block" {{/if}} 
      {{#if misc}} style="display:block" {{/if}}
      {{#if contact}} style="display:block" 
      {{else}}style="display:none"{{/if}}>
        <select onchange="changeCategory()" id="category" name="category" class="select-field" >
        {{#if motor}}
        {{#select category}}
          <option value="">Elige Subcategoría</option>
          <option value="1">Coches</option>
          <option value="2">Motos</option>
          <option value="3">Todoterrenos</option>
        {{/select}}
        {{/if}}
        {{#if empleo}}
        {{#select category}}
          <option value="">Elige Subcategoría</option>
          <option value="1">Servicio Doméstico</option>
          <option value="2">Camareros</option>
          <option value="3">Educación</option>
          <option value="4">Administrativos</option>
          <option value="5">Otros Empleo</option>
        {{/select}}
        {{/if}}
        {{#if misc}}
          {{#select category}}
            <option value="">Elige Subcategoría</option>
            <option value="1">Bricolaje</option>
            <option value="2">Para Bebés</option>
            <option value="3">Electrodomésticos</option>
            <option value="4">Muebles</option>
            <option value="5">Ropa</option>
            <option value="6">Otros</option>
          {{/select}}
        {{/if}}
        {{#if contact}}
          {{#select category}}
            <option value="">Elige Subcategoría</option>
            <option value="1">Contactos Mujeres</option>
            <option value="2">Contactos Gays</option>
            <option value="3">Contactos Trans</option>
            <option value="4">Contactos Hombres</option>
            <option value="5">Otros Contactos</option>
          {{/select}}
        {{/if}}
        </select>
      </div>
      <div class="stateSearch">
        <select name="state" class="select-field">
        {{#select state}}
          <option value="">Elige Provincia</option>
          <option value="15">A Coruña</option>
          <option value="2">Albacete</option>
          <option value="3">Alicante</option>
          <option value="4">Almería</option>
          <option value="1">Álava</option>
          <option value="33">Asturias</option>
          <option value="5">Ávila</option>
          <option value="6">Badajoz</option>
          <option value="7">Baleares</option>
          <option value="8">Barcelona</option>
          <option value="9">Burgos</option>
          <option value="10">Cáceres</option>
          <option value="11">Cádiz</option>
          <option value="39">Cantabria</option>
          <option value="12">Castellón</option>
          <option value="13">Ciudad Real</option>
          <option value="14">Córdoba</option>
          <option value="16">Cuenca</option>
          <option value="51">Ceuta</option>
          <option value="20">Guipúzcoa</option>
          <option value="17">Girona</option>
          <option value="18">Granada</option>
          <option value="19">Guadalajara</option>
          <option value="21">Huelva</option>
          <option value="22">Huesca</option>
          <option value="23">Jaén</option>
          <option value="24">León</option>
          <option value="25">Lleida</option>
          <option value="27">Lugo</option>
          <option value="28">Madrid</option>
          <option value="29">Málaga</option>
          <option value="52">Melilla</option>
          <option value="30">Murcia</option>
          <option value="31">Navarra</option>
          <option value="32">Ourense</option>
          <option value="34">Palencia</option>
          <option value="35">Las Palmas</option>
          <option value="36">Pontevedra</option>
          <option value="26">La Rioja</option>
          <option value="37">Salamanca</option>
          <option value="38">Tenerife</option>
          <option value="40">Segovia</option>
          <option value="41">Sevilla</option>
          <option value="42">Soria</option>
          <option value="43">Tarragona</option>
          <option value="44">Teruel</option>
          <option value="45">Toledo</option>
          <option value="46">Valencia</option>
          <option value="47">Valladolid</option>
          <option value="48">Vizcaya</option>
          <option value="49">Zamora</option>
          <option value="50">Zaragoza</option>
        {{/select}}
        </select>
      </div>
    </div>
    <div class="searchGeneral" id="searchGeneral">
      <label>Con las palabras </label>
      <input id="searchGeneralInput" onfocusout="searchWordTrim()" name="searchWord" value="{{searchWord}}">
    </div>
      <div class="firstRowSearchAttr" id="attrCar" {{#if motor}} style="display:block" {{/if}} style="display:none">
        <div class="firstLineAttr">
        <div class="brandSearch" id="brandSearchDiv" {{#if category}}style="display:flex"{{/if}} style="display:none">
          <select id="searchBrand" name="brand" class="select-field disabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
              {{#select brand}}
                  {{#brandCategory category}}{{/brandCategory}}
              {{/select}}
            </select>
        </div>
        <div class="modelSearchInput">
          <input placeholder="modelo" class="searchModel disabledFields" type="text" class="input-field" name="carmodel" value="{{carmodel}}" {{#unless motor}}disabled="disabled" {{/unless}}/>
        </div>
        <label>Precio: </label>
        <div class="priceSearch">
          {{#select priceLow}}
            <select id="priceLow" name="priceLow" class="select-field disabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
              <option value="">desde</option>
              <option value="0">0</option>
              <option value="500">500</option>
              <option value="1000">1.000</option>
              <option value="1500">1.500</option>
              <option value="2000">2.000</option>
              <option value="2500">2.500</option>
              <option value="3000">3.000</option>
              <option value="3500">3.500</option>
              <option value="4000">4000</option>
              <option value="4500">4.500</option>
              <option value="5000">5000</option>
              <option value="5500">5.500</option>
              <option value="6000">6.000</option>
              <option value="7000">7.000</option>
              <option value="8000">8.000</option>
              <option value="9000">9.000</option>
              <option value="10000">10.000</option>
              <option value="12000">12.000</option>
              <option value="15000">15.000</option>
              <option value="18000">18.000</option>
              <option value="20000">20.000</option>
              <option value="22000">22.000</option>
              <option value="24000">24.000</option>
              <option value="30000">30.000</option>
              <option value="36000">36.000</option>
              <option value="42000">42.000</option>
              <option value="48000">48.000</option>
              <option value="60000">60.000</option>
              <option value="70000">70.000</option>
              <option value="80000">80.000</option>
              <option value="90000">90.000</option>
              <option value="99000">99.000</option>
            </select>
          {{/select}}
        </div>
        <div class="priceSearch">
          {{#select priceHigh}}
            <select id="priceHigh" name="priceHigh" class="select-field disabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
                <option value="">hasta</option>
                <option value="500">500</option>              
                <option value="1000">1.000</option>
                <option value="1500">1.500</option>
                <option value="2000">2.000</option>
                <option value="2500">2.500</option>
                <option value="3000">3.000</option>
                <option value="4000">4.000</option>
                <option value="5000">5.000</option>
                <option value="6000">6.000</option>
                <option value="7000">7.000</option>
                <option value="8000">8.000</option>
                <option value="9000">9.000</option>
                <option value="10000">10.000</option>
                <option value="12000">12.000</option>
                <option value="15000">15.000</option>
                <option value="18000">18.000</option>
                <option value="20000">20.000</option>
                <option value="22000">22.000</option>
                <option value="24000">24.000</option>
                <option value="30000">30.000</option>
                <option value="36000">36.000</option>
                <option value="42000">42.000</option>
                <option value="48000">48.000</option>
                <option value="60000">60.000</option>
                <option value="70000">70.000</option>
                <option value="80000">80.000</option>
                <option value="90000">90.000</option>
                <option value="99000">99.000</option>
            </select>
          {{/select}}
         </div>          
        <label class="searchLabelYear">Año: </label>
        <div class="yearSearch">
        {{#select yearLow}}
        <select id="yearLow" name="yearLow" class="select-field disabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
          <option value="">desde</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
          <option value="2004">2004</option>
          <option value="2003">2003</option>
          <option value="2002">2002</option>
          <option value="2001">2001</option>
          <option value="2000">2000</option>
          <option value="1999">1999</option>
          <option value="1998">1998</option>
          <option value="1997">1997</option>
          <option value="1996">1996</option>
          <option value="1995">1995</option>
          <option value="1994">1994</option>
          <option value="1993">1993</option>
          <option value="1992">1992</option>
          <option value="1991">1991</option>
          <option value="1990">1990</option>
          <option value="1985">1985</option>
          <option value="1980">1980</option>
          <option value="1970">1970</option>
          <option value="1960">1960</option>
          <option value="1950">1950</option>
          <option value="1940">1940</option>
          <option value="1930">1930</option>
          <option value="1920">1920</option>
          <option value="1910">1910</option>
          <option value="1900">1900</option>
        </select>
        {{/select}}
        </div>
        <div class="yearSearch">
        {{#select yearHigh}}
          <select id="yearHigh" name="yearHigh" class="select-field disabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
            <option value="">hasta</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1985">1985</option>
            <option value="1980">1980</option>
            <option value="1970">1970</option>
            <option value="1960">1960</option>
            <option value="1950">1950</option>
            <option value="1940">1940</option>
            <option value="1930">1930</option>
            <option value="1920">1920</option>
            <option value="1910">1910</option>
            <option value="1900">1900</option>
          </select>
        {{/select}}
        </div>
        <div class="kmSearch">
          {{#select km}}
          <select id="kmSearch" name="km" class="select-field disabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
            <option value="">kilometros</option>
            <option value="5000">hasta 5.000</option>
            <option value="10000">hasta 10.000</option>
            <option value="20000">hasta 20.000</option>
            <option value="30000">hasta 30.000</option>
            <option value="40000">hasta 40.000</option>
            <option value="60000">hasta 60.000</option>
            <option value="80000">hasta 80.000</option>
            <option value="100000">hasta 100.000</option>
            <option value="120000">hasta 120.000</option>
            <option value="140000">hasta 140.000</option>
            <option value="160000">hasta 160.000</option>
            <option value="180000">hasta 180.000</option>
            <option value="200000">hasta 200.000</option>
            <option value="250000">hasta 250.000</option>
          </select>
          {{/select}}
        </div>
      </div>

      <div class="secondtLineAttr">
        <div id="searchCC" style="display:none">
          <label>C.C</label>
          {{#select ccLow}}
          <select id='cclow' class="select-field disabledFields ccdisabledFields" name="ccLow" {{#unless motor}}disabled="disabled" {{/unless}}>
            <option value="">desde</option>
            <option value="49">49 cc</option>
            <option value="50">50 cc</option>
            <option value="125">125 cc</option>
            <option value="250">250 cc</option>
            <option value="300">300 cc</option>
            <option value="500">500 cc</option>
            <option value="600">600 cc</option>
            <option value="750">750 cc</option>
            <option value="800">800 cc</option>
            <option value="1000">1000 cc</option>
            <option value="1200">1200 cc</option>
            <option value="1250">1250 cc</option>
            <option value="1300">1300 cc</option>
            <option value="1600">1600 cc</option>
            <option value="1700">1700 cc</option>
            <option value="1900">1900 cc</option>
          </select>
          {{/select}}
          {{#select ccHigh}}
            <select id='ccHigh' name="ccHigh" class="select-field disabledFields ccdisabledFields" {{#unless motor}}disabled="disabled" {{/unless}}>
            <option value="">hasta</option>
            <option value="49">49 cc</option>
            <option value="50">50 cc</option>
            <option value="125">125 cc</option>
            <option value="250">250 cc</option>
            <option value="300">300 cc</option>
            <option value="500">500 cc</option>
            <option value="600">600 cc</option>
            <option value="750">750 cc</option>
            <option value="800">800 cc</option>
            <option value="1000">1000 cc</option>
            <option value="1200">1200 cc</option>
            <option value="1250">1250 cc</option>
            <option value="1300">1300 cc</option>
            <option value="1600">1600 cc</option>
            <option value="1700">1700 cc</option>
            <option value="1900">1900 cc</option>
          </select>
          {{/select}}
        </div>
      </div>

      </div>
      {{!-- empleo attr  --}}
        <div id="attrAdjobs" style="display:none">
          <div class="searchWordJobs">
            <label>Con las palabras </label>
            <input id="searchWordInput" onfocusout="searchWordTrim()" class="select-field disabledEmpleo" {{#unless empleo}}disabled="disabled"{{/unless}} name="searchWord" value="{{searchWord}}">
          </div>
          <div>
            {{#select vendor}}
            <select name="vendor" class="select-field disabledEmpleo" id="vendorTypeSelector" {{#unless empleo}}disabled="disabled"{{/unless}}>
              <option value="">ver ofertas y demandas de empleo</option>
              <option value="OFERTA">se ofrece empleo</option>
              <option value="DEMANDA">se demanda empleo</option>
            </select>
            {{/select}}
          </div>
        </div>
      {{!-- empleo attr --}}

      {{!- casa y jardin #misc --}}
      <div id="attrMisc" style="display:none">
        <div class="divToFirstAttr">
          <div class="divPirceMisc">
            <label>Precio desde</label>
              <input id="inputPriceLowMisc" name="priceLow" class="select-field disabledMisc" {{#unless misc}}disabled="disabled"{{/unless}} value="{{priceLow}}"/>
              <label>hasta</label>
              <input id="inputPriceHighMisc" name="priceHigh" class="select-field disabledMisc" {{#unless misc}}disabled="disabled"{{/unless}} value="{{priceHigh}}"/>
          </div>
          <div>
            {{#select vendor}}
            <select name="vendor" class="select-field disabledMisc" id="vendor" {{#unless misc}}disabled="disabled"{{/unless}}>
              <option value="">oferta y demanda</option>
              <option value="OFERTA">oferta sólo</option>
              <option value="DEMANDA">demanda sólo</option>
            </select>
            {{/select}}
          </div>
          <div>
            {{#select vendorType}}
            <select class="select-field disabledMisc" name="vendorType" id="vendorType" {{#unless misc}}disabled="disabled"{{/unless}}>
              <option value="">particulares y profesionales</option>
              <option value="Particular">sólo particulares</option>
              <option value="Profesional">sólo profesionales</option>
            {{/select}}
            </select>
          </div>
        </div>

        <div class="searchWordMis">
          <label>Con las palabras </label>
          <input name="searchWord" id="searchWordInputMisc" onfocusout="searchWordTrim()" class="select-field disabledMisc" {{#unless misc}}disabled="disabled"{{/unless}} value="{{searchWord}}">
        </div>
          
      </div>
      {{!- casa y jardin --}}
      
      {{!- contactos #contacts --}}
      <div id="attrContact" style="display:none">
        <div class="divToFirstAttr">
          <div class="divAgeContact">
            <label>Edad</label>
            {{#select ageLow}}
              <select name="ageLow" id="ageLow" class="select-field disabledContact" {{#unless contact}} disabled="disabled"{{/unless}}>
                <option value="">desde</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="28">28</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
                <option value="60">60</option>
                <option value="65">65</option>
                <option value="70">70</option>
                <option value="75">75</option>
                <option value="80">80</option>
                <option value="85">85</option>
                <option value="90">90</option>
              </select>
              {{/select}}
              {{#select ageHigh}}
              <select name="ageHigh" id="ageHigh" class="select-field disabledContact" {{#unless contact}} disabled="disabled"{{/unless}}>
                  <option value="">hasta</option>
                  <option value="18">18</option>
                  <option value="20">20</option>
                  <option value="22">22</option>
                  <option value="24">24</option>
                  <option value="28">28</option>
                  <option value="30">30</option>
                  <option value="35">35</option>
                  <option value="40">40</option>
                  <option value="45">45</option>
                  <option value="50">50</option>
                  <option value="55">55</option>
                  <option value="60">60</option>
                  <option value="65">65</option>
                  <option value="70">70</option>
                  <option value="75">75</option>
                  <option value="80">80</option>
                  <option value="85">85</option>
                  <option value="90">90</option>
              </select>
              {{/select}}
          </div>
        </div>

          <div class="searchWordContact">
            <label>Con las palabras </label>
            <input name="searchWord" id="searchWordInputContact" onfocusout="searchWordTrim()" class="select-field disabledContact" {{#unless contact}} disabled="disabled"{{/unless}} value="{{searchWord}}">
          </div>
          
      </div>
      {{!- contactos #contacts --}}

      <div class="secondRowSearch">
        <label class="submitSearch">
          {{#if checkContactCat}} <input type="hidden" name="checkContactCat" value='{{checkContactCat}}'>{{/if}}
          <button id="searchButtonList" type="submit"><div class="divButtonSubmitList"><span>Buscar</span><img src="/images/lopue_1.png" id="imgSubmitList"></div></button>
        </label>
      </div>
  </form>
</div>
  <div class="adsContainer">

    {{#if @root.role}}
      <button onclick="adminLock('{{elementLocked}}', '{{param}}')"><span id="isLocked">{{#if locked}}Locked{{else}}Lock{{/if}}</span> {{#if elementLocked}}<span id="spanEmAdLock" {{#if locked}}style="color:red" {{/if}}>{{elementLocked}}</span>{{/if}}</button>
    {{/if}}
  {{#each adsAll as |ad|}}
    <div class="ads" id="{{ad.reference}}">
      {{#if @root.role}}
        <button class="adButton" onclick="adminDelete('{{#category ad.category}}{{/category}}','{{ad.id}}', '{{ad.reference}}')">X</button>
      {{/if}}
      <div class="firstRow">
        {{#if ad.vendor}}<div class="ofertaDemanda">{{ad.vendor}}</div>{{/if}}
        <div class="categoryState">{{ad.category}} en {{ad.city}} ({{ad.state}})</div>
        <div class="reference">r{{ad.reference}}</div>
        <div class="time">{{#date ad.renovate}}{{/date}}</div>
      </div>
        <div class="adBody">
          <div class="adTexts">
            <div class="title"><strong> {{#toUpperCase ad.brand  ad.carmodel ad.cv ad.doors ad.title}} {{/toUpperCase}} {{!-- {{#if ad.brand}}{{ad.brand}} - {{ad.carmodel}}{{/if}} {{#if ad.cv}} {{cv}}cv{{/if}} {{#if ad.doors}} {{ad.doors}}P{{/if}} {{ad.title}}--}}</strong></div>
            <div class="description">{{ad.description}} {{#if ad.color}}... Color {{ad.color}}{{/if}} {{#if ad.age}}... <b>Edad {{ad.age}} años</b> {{/if}}</div>
          {{#if @root.role}}
            <div class="adminFirstRow">
              <span>email: <a href="?email={{ad.email}}">{{ad.email}}</a></span>
              <span><a href="?ip={{ad.ip}}">IP</a></span>
              <span><a href="?ua={{ad.ua}}">UA</a></span>
              <span><a href="?co={{ad.co}}">CO</a></span>
            </div>
          {{/if}}
          </div>
          {{#if ad.image.imgPath.[0]}}
            <div class="adImage">
              <a href="#{{ad.reference}}img"><img class="imgAd" src="{{#if ad.image.imgPath.[0]}} /{{ad.image.imgPath.[0]}} {{/if}}"/></a>
              <div class="lightboxImg" id="{{ad.reference}}img">
                <figure>
                  <a href="#close" class="close" onclick="myFun2('{{ad.reference}}imgNext', '{{ad.image.imgPath.[0]}}')"></a>
                    <figcaption>
                      <img onclick="myFun('{{ad.reference}}imgNext',' {{ad.image.imgPath}}')" class="imgAd" id="{{ad.reference}}imgNext" display="block" src="/{{ad.image.imgPath.[0]}}"/>
                    </figcaption>
                </figure>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="attributesRow">
          {{#if ad.engine}}
            <div class="atrAds atrEngine">
              <span>{{ad.engine}}</span>
              <span class="textAtr">cc</span>
            </div>
          {{/if}}
          {{#if ad.year}}
            <div class="atrAds atrYear">
              <span>{{ad.year}}</span>
              <span class="textAtr">Año</span>
            </div>
          {{/if}}
          {{#if ad.km}}
            <div class="atrAds atrKm">
              <span class="getDot">{{ad.km}}</span>
              <span class="textAtr">Kms</span>
            </div>
          {{/if}}
          {{#if ad.fuel}}
            <div class="atrAds atrFuel">
              <span class="getDot">{{ad.fuel}}</span>
            </div>
          {{/if}}
          {{#if ad.price}}
            <div class="atrAds atrPrice" >
              <span class="getDot">{{ad.price}}€</span>
              <span class="textAtr">Precio</span>   
            </div>
          {{/if}}
        </div>
        <div class="lastRow">
          <div class="phoneAd"><!-- phoneAd -->
            <a class="linkToPopUp" href="#{{ad.reference}}Contact"><div class="imgSpanContact"><div class="imgContact"><img class="contactListAd" src="/images/contactIconList.png"></div><div class="spanContactList"><span> Contactar</span></div></div></a>
            <div class="lightbox" id="{{ad.reference}}Contact">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <div class="dataUserPopUp"><img src="/images/dataUser.svg" ><h3>Datos Anunciante</h3></div>
                  <p><b>Nombre:</b> {{ad.name}}{{#if ad.vendorType}} - {{ad.vendorType}}{{/if}}</p>
                  <p>{{#if ad.phone}}<b>Teléfono:</b><a class="clickOnMobile" href="tel:+34{{ad.phone}}">  {{ad.phone}}</a><span class="clickOnDesktop">  {{ad.phone}}</span>{{/if}}</p>
                  <a class="sendEmailUser" href="#{{ad.reference}}email"><b>Enviar em@il</b></a>
                </figcaption>
              </figure>
            </div>
            {{!-- send email --}}
            <div class="lightbox" id="{{ad.reference}}email">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <div class="dataUserPopUp"><img src="/images/send.svg" ><h3>Enviar Email</h3></div>
                  <p>Indica tu numbre y el correo al que quieres que te respondan</p>
                    <form class="formSendEmailList" id="userSendEmail-{{ad.reference}}" onsubmit="sendEmailList('{{ad.reference}}')">
                      <div>
                        <label class="labelSendEmail">Nombre*</label>
                        <input type="text" name="name" id="nameSendEmail-{{ad.reference}}" required>
                      </div>
                      <div>
                        <label class="labelSendEmail">Email*</label>
                        <input type="email" name="email" id="emailSendEmail-{{ad.reference}}" required>
                      </div>
                      <div id="divSendEmail-{{ad.reference}}">
                        <label class="labelSendEmail">Teléfono (opcional)</label>
                        <input type="number" name="phone" id="phoneSendEmail-{{ad.reference}}">
                      </div>
                      <div>
                        <label class="labelSendEmail">Mensaje*</label>
                        <textarea required id="textAreaSendEmail-{{ad.reference}}" class="textAreaSendEmail" rows="6" name="message"></textarea>
                      </div>
                      <div>
                        <input id="categorySendEmail-{{ad.reference}}" type="hidden" name="category" value="{{ad.category}}">
                      </div>
                      <div>
                        <button>Enviar</button>
                      </div>
                      <div>
                      <p><i>* Campos necesarios *</i></p>
                      <a id="success-{{ad.reference}}" href="#{{ad.reference}}success"></a>
                      </div>
                  </form>
                </figcaption>
              </figure>
            </div>
            {{!-- success email --}}
            <div class="lightbox" id="{{ad.reference}}success">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <div class="dataUserPopUp"><img src="/images/launch.png" ><h3>¡Mensaje Enviado!</h3></div>
                    <p>Tu mensaje se ha enviado correctamente.</p>
                </figcaption>
              </figure>
            </div>
          </div><!-- phoneAd -->
          <div class="favoriteAd"></div>
        </div>
    </div>
  {{/each}}
  <div class="pagination pagination-centered">
  <ul class="paginationUl">
    {{#paginate pagination type="first"}}
      <a {{#if disabled}}class="disabled"{{/if}} 
      href="{{#urlPagination parentCategory state category n searchWord vendor ageLow ageHigh vendorType priceLow priceHigh brand carmodel km yearLow yearHigh ccLow ccHigh email ip ua co checkContactCat}}{{/urlPagination}}"><li>Primera</li></a>
    {{/paginate}}
    {{#paginate pagination type="previous"}}
      <a {{#if disabled}}class="disabled"{{/if}} 
      href="{{#urlPagination parentCategory state category n searchWord vendor ageLow ageHigh vendorType priceLow priceHigh brand carmodel km yearLow yearHigh ccLow ccHigh email ip ua co checkContactCat}}{{/urlPagination}}"><li>Menos</li></a>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="5"}}
      <a {{#if active}}class="active"{{/if}} href="{{#urlPagination parentCategory state category n searchWord vendor ageLow ageHigh vendorType priceLow priceHigh brand carmodel km yearLow yearHigh ccLow ccHigh email ip ua co checkContactCat}}{{/urlPagination}}"><li >{{n}}</li></a>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <a {{#if disabled}}class="disabled"{{/if}} href="{{#urlPagination parentCategory state category n searchWord vendor ageLow ageHigh vendorType priceLow priceHigh brand carmodel km yearLow yearHigh ccLow ccHigh email ip ua co checkContactCat}}{{/urlPagination}}"><li>Más</li></a>
    {{/paginate}}
    {{#paginate pagination type="last"}}
      <a {{#if disabled}}class="disabled"{{/if}} href="{{#urlPagination parentCategory state category n searchWord vendor ageLow ageHigh vendorType priceLow priceHigh brand carmodel km yearLow yearHigh ccLow ccHigh email ip ua co checkContactCat}}{{/urlPagination}}"><li>Última</li></a>
    {{/paginate}}
  </ul>
</div>

</div>
<script>
  //IMAGES
  let ind = -1;
  //next-prev image
  function myFun(ref,str){
    const arr = str.split(',');
    const len = arr.length;
    if(len > 1) {
      if(ind < 0) {
        document.getElementById(ref).src = '/'+arr[1]
        ind = 1;
      }
      else if(ind < len - 1){
        ind = ind + 1;
        document.getElementById(ref).src = '/'+arr[ind]
      } else {
      ind = 0;
      document.getElementById(ref).src = '/'+arr[ind].trim()
      }
    }
  }
  // close image => reset counter to 0
    function myFun2(ref,str){ 
      ind = -1;
      document.getElementById(ref).src = '/'+str;
  }
</script>

<script>
  //SEARCH CATEGORY
    var carsAndModels = {};
    carsAndModels[1] = ['Elige Subcategoría','Coches', 'Motos', 'Todoterrenos'];
    carsAndModels[2] = ['Elige Subcategoría', 'Servicio Doméstico', 'Camareros','Educación', 'Administrativos', 'Otros Empleo'];
    carsAndModels[3] = ['Elige Subcategoría', 'Bricolaje', 'Para Bebés', 'Electrodomésticos', 'Muebles', 'Ropa', 'Otros'];
    carsAndModels[4] = ['Elige Subcategoría', 'Contactos Mujeres', 'Contactos Gays', 'Contactos Trans', 'Contactos Hombres', 'Otros Contactos'];
    
    var categroyAtrr = {}
    categroyAtrr[1] = ['Marca', 'Aston Martin','Audi','Austin','Bentley','BMW','Chevrolet','Chrysler','Citroen','Dacia','Daewoo','Daihatsu','Dodge','Fiat','Ford','Galloper','Honda','Hummer','Hyundai','Infiniti','Isuzu','Jaguar','Jeep','Kia','Lada','Lamborghini','Lancia','Land-Rover','Lexus','Lotus','Mazda','Mercedes-Benz','MG','Mini','Mitsubishi','Nissan','Opel','Peugeot','Pontiac','Porsche','Renault','Rolls-Royce','Rover','Saab','Seat','Skoda','Smart','Ssangyong','Subaru','Suzuki','Tesla','Toyota','Volkswagen','Volvo'];
    categroyAtrr[2] = ['Marca','Aprilia','Benelli','Beta','Bimota','BMW','Bultaco','Cagiva','Daelim','Derbi','Ducati','Gasgas','Gilera','Hanway','Harley Davidson','Honda','Husaberg','Husqvarna','Hyosung','Italjet','Kawasaki','Keeway','KTM','Kymco','Lambretta','Laverda','Malaguti','MBK','Montesa','Moto Guzzi','Motor Hispania','MV Agusta','Ossa','Peugeot','Piaggio','Puch','Renault','Rieju','Royal Enfield','Sherco','Siam','Suzuki','Sym','TGB','Triumph','Vespa','Vespino','Yamaha'];
    categroyAtrr[3] = ['Marca', 'Aston Martin','Audi','Austin','Bentley','BMW','Chevrolet','Chrysler','Citroen','Dacia','Daewoo','Daihatsu','Dodge','Fiat','Ford','Galloper','Honda','Hummer','Hyundai','Infiniti','Isuzu','Jaguar','Jeep','Kia','Lada','Lamborghini','Lancia','Land-Rover','Lexus','Lotus','Mazda','Mercedes-Benz','MG','Mini','Mitsubishi','Nissan','Opel','Peugeot','Pontiac','Porsche','Renault','Rolls-Royce','Rover','Saab','Seat','Skoda','Smart','Ssangyong','Subaru','Suzuki','Tesla','Toyota','Volkswagen','Volvo'];
    
    var parent = document.getElementById("parentCategory");
    var sub = document.getElementById("subCategorySearch");
    var category = document.getElementById("category");
    var attributesCar = document.getElementById("attrCar");

    var searchCC = document.getElementById("searchCC");
    var cclow = document.getElementById("cclow")
    var cchigh = document.getElementById("ccHigh")

    var searchGeneral = document.getElementById('searchGeneral');
    var searchGeneralInput = document.getElementById('searchGeneralInput');
    
    if(parent.options[parent.selectedIndex].text !== 'Elige Categoría') {
      searchGeneral.style['display'] = 'none';
      searchGeneralInput.disabled = true;
    }

    // MOTOR
    if(category.options[category.selectedIndex]) {
      if(category.options[category.selectedIndex].text == 'Motos') {
        searchCC.style["display"] = "block";
      } else {
          cchigh.disabled = true;
          cclow.disabled = true;
      }
    }


    // EMPLEO
    var attrAdjobs = document.getElementById("attrAdjobs");
    if(parent.options[parent.selectedIndex].text == 'Empleo') {
      attrAdjobs.style["display"] = "flex";
    }

    // MISC 
    const attrMisc = document.getElementById("attrMisc");
    if(parent.options[parent.selectedIndex].text == 'Casa y Jardín') {
      attrMisc.style["display"] = "block";
    }

    // CONTACT

    var attrContact = document.getElementById("attrContact");
    if(parent.options[parent.selectedIndex].text == 'Contactos') {
      attrContact.style["display"] = "flex";
    }


    // function submit button - delete whitespaces
    function searchWordTrim() {
      const searchWordInput= document.getElementById("searchWordInput");
      const searchWordInputMisc = document.getElementById("searchWordInputMisc");
      if(searchWordInput) {
        searchWordInput.value = searchWordInput.value.trim()
      }
      else if (searchWordInputMisc) {
        searchWordInputMisc.value = searchWordInputMisc.value.trim()
      } else {'error #searchInput 618'}
    }


    // function change SUBCATEGORY
    function changeCategory() {
      // MOTOR

      if(parent.options[parent.selectedIndex].text == 'Motor'){
          attributesCar.style["display"] = "block";
        } else {
          attributesCar.style["display"] = "none";
        }

        var carList = document.getElementById("category");
        var modelList = document.getElementById("searchBrand");
        var selCar = carList.options[carList.selectedIndex].value;
        var nameCategory = carList.options[carList.selectedIndex].text;
        var disabledFields = document.getElementsByClassName("disabledFields")

        // disabled input when not exist
        if(selCar < 1) {
          modelList.style["display"] = "none";
        } else {
          // disabled fields for motor
          if(nameCategory == 'Motos' || nameCategory == 'Coches' || nameCategory == 'Todoterrenos') {
            for(i=0;i<disabledFields.length;i++) {
              disabledFields[i].disabled = false;
            }
              modelList.style["display"] = "flex";
              brandSearchDiv.style["display"]= 'flex';
          } else {
            for(i=0;i<disabledFields.length;i++) {
              disabledFields[i].disabled = true;
            }
          }
        }
        
        // CC for Motos
        if(nameCategory == 'Motos') {
          searchCC.style["display"] = "block";
          
        } else {
          searchCC.style["display"] = "none";
          cchigh.disabled = true;
          cclow.disabled = true;
        }

          while (modelList.options.length) {
          modelList.remove(0);
          }
          var cars = categroyAtrr[selCar];
        if (cars) {
          var i;
          for (i = 0; i < cars.length; i++) {
          if(cars[i] == 'Marca') {
          var car = new Option(cars[i], "");
          modelList.options.add(car);
          } else {
              if(selCar == 1 || selCar == 3) {
                var car = new Option(cars[i], i);
                modelList.options.add(car); 
            } 
            else if(selCar == 2) {
              var car = new Option(cars[i], i+99);
              modelList.options.add(car); 
            } else {console.log('smthing wrong script cat search')}
          }
          }
        }
    }

    // function change PARENT CATEGORY
    function ChangeCarList() {
    
    if(parent.options[parent.selectedIndex].text !== 'Elige Categoría') {
      searchGeneral.style['display'] = 'none';
      searchGeneralInput.disabled = true;
    }

    if(parent.options[parent.selectedIndex].text == 'Elige Categoría') {
      sub.style["display"] = "none";
      searchGeneral.style['display'] = 'block';
      searchGeneralInput.disabled = false;
    }

      // CONTACT
      const disabledContact = document.getElementsByClassName("disabledContact")

      if(parent.options[parent.selectedIndex].text == 'Contactos') {
        sub.style["display"] = "block";
        attrContact.style["display"] = "flex";
          for(i=0;i<disabledContact.length;i++) {
            disabledContact[i].disabled = false;
          }
      } else {
        for(i=0;i<disabledContact.length;i++) {
          disabledContact[i].disabled = true;
        }
          attrContact.style["display"] = "none";
      }

      // MISC

      const disabledMisc = document.getElementsByClassName("disabledMisc")

      if(parent.options[parent.selectedIndex].text == 'Casa y Jardín') {
        sub.style["display"] = "block";
        attrMisc.style["display"] = "block";
          for(i=0;i<disabledMisc.length;i++) {
            disabledMisc[i].disabled = false;
          }
      } else {
        for(i=0;i<disabledMisc.length;i++) {
          disabledMisc[i].disabled = true;
        }
          attrMisc.style["display"] = "none";
      }

      // EMPLEO
      const disabledEmpleo = document.getElementsByClassName("disabledEmpleo")

      if(parent.options[parent.selectedIndex].text == 'Empleo') {
          attrAdjobs.style["display"] = "flex";
          sub.style["display"] = "block";
          for(i=0;i<disabledEmpleo.length;i++) {
            disabledEmpleo[i].disabled = false;
          }
      } else {
          for(i=0;i<disabledEmpleo.length;i++) {
            disabledEmpleo[i].disabled = true;
          }
            attrAdjobs.style["display"] = "none";
      }

      // MOTOR
      var disabledFields = document.getElementsByClassName("disabledFields")

      if(parent.options[parent.selectedIndex].text == 'Motor') {
          sub.style["display"] = "block";
          attributesCar.style["display"] = "none";
          for(i=0;i<disabledFields.length;i++) {
            disabledFields[i].disabled = false;
          }
      } else {
            attributesCar.style["display"] = "none";
            for(i=0;i<disabledFields.length;i++) {
            disabledFields[i].disabled = true;
            }
      }
      var carList = document.getElementById("parentCategory");
      var modelList = document.getElementById("category");
      var selCar = carList.options[carList.selectedIndex].value;
      while (modelList.options.length) {
        modelList.remove(0);
      }
      var cars = carsAndModels[selCar];
      if (cars) {
        var i;
        for (i = 0; i < cars.length; i++) {
          if(cars[i] == 'Elige Subcategoría') {
          var car = new Option(cars[i], "");
          modelList.options.add(car);
          } else {
          var car = new Option(cars[i], i);
          modelList.options.add(car);   
          }
        }
      }
    } 
</script>
<script>
// dots in numbers
function numberWithCommas(x) {
  for(i=0;i<x.length;i++) {
    document.getElementsByClassName('getDot')[i].innerHTML = x[i].innerHTML.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
  }
    
}
  const n = document.getElementsByClassName('getDot');
  numberWithCommas(n);
</script>

<script>
  const img = document.getElementsByClassName('adBody');
  for(i=0;i<img.length;i++) {
    if(img[i].querySelectorAll('.adImage').length == 0){
      img[i].querySelectorAll('.adImage').remove;
      img[i].querySelectorAll('.adTexts')
      img[i].querySelectorAll('.adTexts')[0].style["width"] = '100%';
    }
  }
</script>

