<div class="searchBox"></div>
  <div class="adsContainer">

  {{#each adsAll as |ad|}}
    <div class="ads">
      <div class="firstRow">
        <div class="ofertaDemanda">{{ad.type}}</div>
        <div class="categoryCity">{{ad.category}} en {{ad.city}}</div>
        <div class="reference">r{{ad.reference}}</div>
        <div class="time">{{#date ad.updated_at}}{{/date}}</div>
      </div>
        <div class="adBody">
          <div class="adTexts">
            <div class="title"><strong>{{#if ad.brand}}{{ad.brand}} - {{ad.carmodel}}{{/if}} {{ad.title}}</strong></div>
            <div class="description">{{ad.description}}</div>
          </div>
            <div class="adImage">
              <a href="#{{ad.reference}}img"><img class="imgAd" src="{{ad.image.imgPath.[0]}}"/></a>
              <div class="lightboxImg" id="{{ad.reference}}img">
                <figure>
                  <a href="#close" class="close" onclick="myFun2('{{ad.reference}}imgNext', '{{ad.image.imgPath.[0]}}')"></a>
                    <figcaption>
                      <img onclick="myFun('{{ad.reference}}imgNext','{{ad.image.imgPath}}')" class="imgAd" id="{{ad.reference}}imgNext" display="block" src="{{ad.image.imgPath.[0]}}"/>
                    </figcaption>
                </figure>
              </div>
            </div>
        </div>
        <div class="lastRow">
          <div class="phoneAd"><!-- phoneAd -->
            <a href="#{{ad.reference}}"><button>Contactar</button></a>
            <div class="lightbox" id="{{ad.reference}}">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <h3>Datos Anunciante</h3>
                  <p>{{ad.name}}</p>
                  <p>{{#if ad.phone}}Teléfono: {{ad.phone}}{{/if}}</p>
                </figcaption>
              </figure>
            </div>
          </div><!-- phoneAd -->
          <div class="favoriteAd"></div>
        </div>
    </div>
  {{/each}}
  </div>
  <script>
    let i = 0;
    console.log(i)
    //next-prev image
    function myFun(ref,str){ 
      const arr = str.split(',');
      const len = arr.length;
      if(i < len - 1){
        i = i + 1;
        document.getElementById(ref).src = arr[i]
      } else {
      i = 0;
      document.getElementById(ref).src = arr[i]
      }
    }
    // close image => reset counter to 0
      function myFun2(ref,str){ 
        document.getElementById(ref).src = str;
    }    
  </script>

