<div class="searchBox">
  <form action="/anuncios" method="GET" >
    <div class="firstRowSearch">
      <div class="categorySearch">
      <select onchange="ChangeCarList()" id ="parentCategory" name="parentCategory" class="select-field">
      {{#select parentCategory }}
        <option value="">Selecciona Categoría</option>
        <option value="1">Motor</option>
        <option value="2">Empleo</option>
        <option value="3">Casa y Jardín</option>
        <option value="4">Contactos</option>
      {{/select}}
      </select>
      </div>
      <div class="subCategorySearch" id="subCategorySearch" {{#if motor}} style="display:block" {{/if}} 
      {{#if empleo}} style="display:block" {{/if}} 
      {{#if misc}} style="display:block" {{/if}}
      {{#if contact}} style="display:block" 
      {{else}}style="display:none"{{/if}}>
        <select id="category" name="category" class="select-field" >
        {{#if motor}}
        {{#select category}}
          <option value="">Selecciona Subcategoría</option>
          <option value="1">Coches</option>
          <option value="2">Motos</option>
          <option value="3">Todoterrenos</option>
        {{/select}}
        {{/if}}
        {{#if empleo}}
        {{#select category }}
          <option value="">Selecciona Subcategoría</option>
          <option value="1">Servicio Doméstico</option>
          <option value="2">Camareros</option>
          <option value="3">Educación</option>
          <option value="4">Administrativos</option>
          <option value="5">Otros Empleo</option>
        {{/select}}
        {{/if}}
        {{#if misc}}
          {{#select category }}
            <option value="">Selecciona Subcategoría</option>
            <option value="1">Bricolaje</option>
            <option value="2">Para Bebés</option>
            <option value="3">Electrodomésticos</option>
            <option value="4">Muebles</option>
            <option value="5">Ropa</option>
            <option value="6">Otros</option>
          {{/select}}
        {{/if}}
        {{#if contact}}
          {{#select category }}
            <option value="">Selecciona Subcategoría</option>
            <option value="1">Contactos Mujeres</option>
            <option value="2">Contactos Gays</option>
            <option value="3">Contactos Trans</option>
            <option value="4">Contactos Hombres</option>
            <option value="5">Otros Contactos</option>
          {{/select}}
        {{/if}}
        </select>
      </div>
      <div class="stateSearch">
        <select name="state" class="select-field">
        {{#select state}}
          <option value="">Selecciona Provincia</option>
         <option value="15">A Coruña</option>
          <option value="2">Albacete</option>
          <option value="3">Alicante</option>
          <option value="4">Almería</option>
          <option value="1">Álava</option>
          <option value="33">Asturias</option>
          <option value="5">Ávila</option>
          <option value="6">Badajoz</option>
          <option value="7">Baleares</option>
          <option value="8">Barcelona</option>
          <option value="9">Burgos</option>
          <option value="10">Cáceres</option>
          <option value="11">Cádiz</option>
          <option value="39">Cantabria</option>
          <option value="12">Castellón</option>
          <option value="13">Ciudad Real</option>
          <option value="14">Córdoba</option>
          <option value="16">Cuenca</option>
          <option value="51">Ceuta</option>
          <option value="20">Guipúzcoa</option>
          <option value="17">Girona</option>
          <option value="18">Granada</option>
          <option value="19">Guadalajara</option>
          <option value="21">Huelva</option>
          <option value="22">Huesca</option>
          <option value="23">Jaén</option>
          <option value="24">León</option>
          <option value="25">Lleida</option>
          <option value="27">Lugo</option>
          <option value="28">Madrid</option>
          <option value="29">Málaga</option>
          <option value="52">Melilla</option>
          <option value="30">Murcia</option>
          <option value="31">Navarra</option>
          <option value="32">Ourense</option>
          <option value="34">Palencia</option>
          <option value="35">Las Palmas</option>
          <option value="36">Pontevedra</option>
          <option value="26">La Rioja</option>
          <option value="37">Salamanca</option>
          <option value="38">Tenerife</option>
          <option value="40">Segovia</option>
          <option value="41">Sevilla</option>
          <option value="42">Soria</option>
          <option value="43">Tarragona</option>
          <option value="44">Teruel</option>
          <option value="45">Toledo</option>
          <option value="46">Valencia</option>
          <option value="47">Valladolid</option>
          <option value="48">Vizcaya</option>
          <option value="49">Zamora</option>
          <option value="50">Zaragoza</option>
        {{/select}}
        </select>
      </div>
    </div>
      <div class="secondRowSearch">
        <label class="submitSearch"><input type="submit" value="Buscar"/></label>
      </div>
  </form>
</div>
  <div class="adsContainer">
  {{#each adsAll as |ad|}}
    <div class="ads" id="{{ad.reference}}">
      {{#if @root.role}}
        <button class="adButton" onclick="adminDelete('{{#category ad.category}}{{/category}}','{{ad.id}}', '{{ad.reference}}')">X</button>
     {{/if}}
      <div class="firstRow">
        <div class="ofertaDemanda">{{ad.vendor}}</div>
        <div class="categoryState">{{ad.category}} en {{ad.city}} ({{ad.state}})</div>
        <div class="reference">r{{ad.reference}}</div>
        <div class="time">{{#date ad.renovate}}{{/date}}</div>
      </div>
        <div class="adBody">
          <div class="adTexts">

            <div class="title"><strong> {{#toUpperCase ad.brand  ad.carmodel ad.cv ad.doors ad.title}} {{/toUpperCase}} {{!-- {{#if ad.brand}}{{ad.brand}} - {{ad.carmodel}}{{/if}} {{#if ad.cv}} {{cv}}cv{{/if}} {{#if ad.doors}} {{ad.doors}}P{{/if}} {{ad.title}}--}}</strong></div>
            <div class="description">{{ad.description}} {{#if ad.color}}... Color {{ad.color}}{{/if}}</div>
          </div>
            <div class="adImage">
              <a href="#{{ad.reference}}img"><img class="imgAd" src="{{#if ad.image.imgPath.[0]}} /{{ad.image.imgPath.[0]}} {{/if}}"/></a>
              <div class="lightboxImg" id="{{ad.reference}}img">
                <figure>
                  <a href="#close" class="close" onclick="myFun2('{{ad.reference}}imgNext', '{{ad.image.imgPath.[0]}}')"></a>
                    <figcaption>
                      <img onclick="myFun('{{ad.reference}}imgNext','{{ad.image.imgPath}}')" class="imgAd" id="{{ad.reference}}imgNext" display="block" src="{{ad.image.imgPath.[0]}}"/>
                    </figcaption>
                </figure>
              </div>
            </div>
        </div>
        <div class="attributesRow">
          {{#if ad.engine}}
            <div class="atrAds atrEngine">
              <span>{{ad.engine}}</span>
              <span class="textAtr">cc</span>
            </div>
          {{/if}}
          {{#if ad.year}}
            <div class="atrAds atrYear">
              <span>{{ad.year}}</span>
              <span class="textAtr">Año</span>
            </div>
          {{/if}}
          {{#if ad.km}}
            <div class="atrAds atrKm">
              <span class="getDot">{{ad.km}}</span>
              <span class="textAtr">Kms</span>
            </div>
          {{/if}}
          {{#if ad.fuel}}
            <div class="atrAds atrFuel">
              <span class="getDot">{{ad.fuel}}</span>
            </div>
          {{/if}}
          {{#if ad.price}}
            <div class="atrAds atrPrice" >
              <span class="getDot">{{ad.price}}€</span>
              <span class="textAtr">Precio</span>   
            </div>
          {{/if}}
        </div>
        <div class="lastRow">
          <div class="phoneAd"><!-- phoneAd -->
            <a href="#{{ad.reference}}Contact"><button>Contactar</button></a>
            <div class="lightbox" id="{{ad.reference}}Contact">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <h3>Datos Anunciante</h3>
                  <p>{{ad.name}}{{#if ad.vendorType}} - {{ad.vendorType}}{{/if}}</p>
                  <p>{{#if ad.phone}}Teléfono: {{ad.phone}}{{/if}}</p>
                </figcaption>
              </figure>
            </div>
          </div><!-- phoneAd -->
          <div class="favoriteAd"></div>
        </div>
    </div>
  {{/each}}
  <div class="pagination pagination-centered">
  <ul class="paginationUl">
    {{#paginate pagination type="first"}}
      <a {{#if disabled}}class="disabled"{{/if}} 
      href="{{#urlPagination state parentCategory category n}}{{/urlPagination}}"><li>First</li></a>
    {{/paginate}}
    {{#paginate pagination type="previous"}}
      <a {{#if disabled}}class="disabled"{{/if}} 
      href="{{#urlPagination state parentCategory category n}}{{/urlPagination}}"><li>Prev</li></a>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="5"}}
      <a {{#if active}}class="active"{{/if}} href="{{#urlPagination state parentCategory category n}}{{/urlPagination}}"><li >{{n}}</li></a>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <a {{#if disabled}}class="disabled"{{/if}} href="{{#urlPagination state parentCategory category n}}{{/urlPagination}}"><li>Next</li></a>
    {{/paginate}}
    {{#paginate pagination type="last"}}
      <a {{#if disabled}}class="disabled"{{/if}} href="{{#urlPagination state parentCategory category n}}{{/urlPagination}}"><li>Last</li></a>
    {{/paginate}}
  </ul>
</div>
  </div>

<script>
  //IMAGES
  let ind = -1;
  //next-prev image
  function myFun(ref,str){
    const arr = str.split(',');
    const len = arr.length;
    if(len > 1) {
      if(ind < 0) {
        document.getElementById(ref).src = arr[1]
        ind = 1;
      }
      else if(ind < len - 1){
        ind = ind + 1;
        document.getElementById(ref).src = arr[ind]
      } else {
      ind = 0;
      document.getElementById(ref).src = arr[ind]
      }
    }
  }
  // close image => reset counter to 0
    function myFun2(ref,str){ 
      ind = -1;
      document.getElementById(ref).src = str;
  }
</script>

<script>
  //SEARCH CATEGORY
    var carsAndModels = {};
    carsAndModels[1] = ['Selecciona Subcategoría','Coches', 'Motos', 'Todoterrenos'];
    carsAndModels[2] = ['Selecciona Subcategoría', 'Servicio Doméstico', 'Camareros','Educación', 'Administrativos', 'Otros Empleo'];
    carsAndModels[3] = ['Selecciona Subcategoría', 'Bricolaje', 'Para Bebés', 'Electrodomésticos', 'Muebles', 'Ropa', 'Otros'];
    carsAndModels[4] = ['Selecciona Subcategoría', 'Contactos Mujeres', 'Contactos Gays', 'Contactos Trans', 'Contactos Hombres', 'Otros Contactos'];

    var parent = document.getElementById("parentCategory");
    var sub = document.getElementById("subCategorySearch");

  function ChangeCarList() {
    if(parent.options[parent.selectedIndex].text != 'Selecciona Categoría') {
          sub.style["display"] = "block";
      } else {
        sub.style["display"] = "none";
      }
    var carList = document.getElementById("parentCategory");
    var modelList = document.getElementById("category");
    var selCar = carList.options[carList.selectedIndex].value;
    while (modelList.options.length) {
      modelList.remove(0);
    }
    var cars = carsAndModels[selCar];
    if (cars) {
      var i;
      for (i = 0; i < cars.length; i++) {
        if(cars[i] == 'Selecciona Subcategoría') {
        var car = new Option(cars[i], "");
        modelList.options.add(car);
        } else {
        var car = new Option(cars[i], i);
        modelList.options.add(car);   
        }
      }
    }
  } 
</script>
<script>
//DOTS IN NUMBERS
function numberWithCommas(x) {
  for(i=0;i<x.length;i++) {
    document.getElementsByClassName('getDot')[i].innerHTML = x[i].innerHTML.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
  }
    
}
  const n = document.getElementsByClassName('getDot');
  numberWithCommas(n);

</script>
<script>
  //adminDelete js
</script>

