<div class="searchBox">
  <form action="/anuncios" method="GET">
    <div class="firstRowSearch">
      <div class="categorySearch">
      <select onchange="ChangeCarList()" id ="parentCategory" name="parentCategory" class="select-field">
      {{#select parentCategory }}
        <option value="">Selecciona Categoría</option>
        <option value="1">Motor</option>
        <option value="2">Empleo</option>
        <option value="3">Contactos</option>
      {{/select}}
      </select>
      </div>
      <div class="subCategorySearch" id="subCategorySearch" {{#if motor}} style="display:block" {{/if}} {{#if empleo}} style="display:block" {{else}}style="display:none"{{/if}}>
        <select id="category" name="category" class="select-field" >
        {{#if motor}}
        {{#select category}}
          <option value="">Selecciona Subcategoría</option>
          <option value="1">Coches</option>
          <option value="2">Motos</option>
        {{/select}}
        {{/if}}
        {{#if empleo}}
        {{#select category }}
          <option value="">Selecciona Subcategoría</option>
          <option value="1">Servicio Doméstico</option>
          <option value="2">Cocineros-Camareros</option>
          <option value="3">Casa y Jardín</option>
        {{/select}}
        {{/if}}
        </select>
      </div>
      <div class="stateSearch">
        <select name="state" class="select-field">
        {{#select state }}
          <option value="">Selecciona Provincia</option>
          <option value="1">Madrid</option>
          <option value="2">Barcelona</option>
          <option value="3">Valencia</option>
        {{/select}}
        </select>
      </div>
    </div>
      <div class="secondRowSearch">
        <label class="submitSearch"><input type="submit" value="Buscar"/></label>
      </div>
  </form>
</div>
  <div class="adsContainer">
  {{#each adsAll as |ad|}}
    <div class="ads" id="{{ad.reference}}">
      {{#if @root.role}}
      {{!-- <form action="/admin/borrar/{{#category ad.category}}{{/category}}/{{ad.id}}" method="POST"> --}}
        <button class="adButton" onclick="adminDelete('{{#category ad.category}}{{/category}}','{{ad.id}}', '{{ad.reference}}')">X</button>
      {{!-- </form> --}}
     {{/if}}
      <div class="firstRow">
        <div class="ofertaDemanda">{{ad.type}}</div>
        <div class="categoryState">{{ad.category}} en {{ad.city}} ({{ad.state}})</div>
        <div class="reference">r{{ad.reference}}</div>
        <div class="time">{{#date ad.renovate}}{{/date}}</div>
      </div>
        <div class="adBody">
          <div class="adTexts">
            <div class="title"><strong>{{#if ad.brand}}{{ad.brand}} - {{ad.carmodel}}{{/if}} {{ad.title}}</strong></div>
            <div class="description">{{ad.description}}</div>
          </div>
            <div class="adImage">
              <a href="#{{ad.reference}}img"><img class="imgAd" src="{{ad.image.imgPath.[0]}}"/></a>
              <div class="lightboxImg" id="{{ad.reference}}img">
                <figure>
                  <a href="#close" class="close" onclick="myFun2('{{ad.reference}}imgNext', '{{ad.image.imgPath.[0]}}')"></a>
                    <figcaption>
                      <img onclick="myFun('{{ad.reference}}imgNext','{{ad.image.imgPath}}')" class="imgAd" id="{{ad.reference}}imgNext" display="block" src="{{ad.image.imgPath.[0]}}"/>
                    </figcaption>
                </figure>
              </div>
            </div>
        </div>
        <div class="lastRow">
          <div class="phoneAd"><!-- phoneAd -->
            {{!-- <a href="#{{ad.reference}}"><button>Contactar</button></a>
            <div class="lightbox" id="{{ad.reference}}">
              <figure>
                <a href="#close" class="close"></a>
                <figcaption>
                  <h3>Datos Anunciante</h3>
                  <p>{{ad.name}}</p>
                  <p>{{#if ad.phone}}Teléfono: {{ad.phone}}{{/if}}</p>
                </figcaption>
              </figure>
            </div> --}}
          <button id="myBtn{{ad.reference}}" onclick="myModFun('{{ad.reference}}')">Contactar</button>
            <div id="myModal{{ad.reference}}" class="modal">
              <div class="modal-content">
                <span class="close" onclick="myModClose('{{ad.reference}}')">&times;</span>
                  <h3>Datos Anunciante</h3>
                  <p>{{ad.name}}</p>
                  <p>{{#if ad.phone}}Teléfono: {{ad.phone}}{{/if}}</p>
              </div>
            </div>
          </div><!-- phoneAd -->
          <div class="favoriteAd"></div>
        </div>
    </div>
  {{/each}}
  </div>

<script>
function myModFun(ref) {
const one = `myBtn${ref}`;
const two = `myModal${ref}`;
const modal = document.getElementById(two);
const  btn = document.getElementById(one);
modal.style.display = "block";
}

function myModClose(ref) {
  const two = `myModal${ref}`;
  const modal = document.getElementById(two);
  const span = document.getElementsByClassName("close")[0];
  modal.style.display = "none";
}
window.onclick = function(event) {
  if(event.target.id) {
    const string = event.target.id;
    const numbers = string.match(/\d+/g).map(Number); 
      if (event.target == document.getElementById(`myModal${numbers}`)) {
        document.getElementById(`myModal${numbers}`).style.display = "none";
      }
  }
}
</script>
  
<script>
  let i = 0;
  //next-prev image
  function myFun(ref,str){ 
    const arr = str.split(',');
    const len = arr.length;
    if(i < len - 1){
      i = i + 1;
      document.getElementById(ref).src = arr[i]
    } else {
    i = 0;
    document.getElementById(ref).src = arr[i]
    }
  }
  // close image => reset counter to 0
    function myFun2(ref,str){ 
      document.getElementById(ref).src = str;
  }
</script>

<script>
    var carsAndModels = {};
    carsAndModels[1] = ['Selecciona Subcategoría','Coches', 'Motos'];
    carsAndModels[2] = ['Selecciona Subcategoría', 'Servicio Doméstico', 'Cocineros-Camareros'];
    var parent = document.getElementById("parentCategory");
    var sub = document.getElementById("subCategorySearch");

  function ChangeCarList() {
    if(parent.options[parent.selectedIndex].text != 'Selecciona Categoría') {
          sub.style["display"] = "block";
      } else {
        sub.style["display"] = "none";
      }
    var carList = document.getElementById("parentCategory");
    var modelList = document.getElementById("category");
    var selCar = carList.options[carList.selectedIndex].value;
    while (modelList.options.length) {
      modelList.remove(0);
    }
    var cars = carsAndModels[selCar];
    if (cars) {
      var i;
      for (i = 0; i < cars.length; i++) {
        if(cars[i] == 'Selecciona Subcategoría') {
        var car = new Option(cars[i], "");
        modelList.options.add(car);
        } else {
        var car = new Option(cars[i], i);
        modelList.options.add(car);
      
        }
      }
    }
  } 
</script>
