<div class="form-style-3">
  <form action="/publicar-anuncio/{{categoryId}}{{#if errorBody}}{{errorBody.errorIdCategory}}{{/if}}" method="POST">
    <fieldset><legend>Personal</legend>
      <label for="field1"><span>Nombre <span class="required">*</span></span><input type="text" class="input-field" name="name" {{#if errorBody}} value="{{errorBody.name}}" {{/if}}/></label>
      <label for="field2"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="email"{{#if errorBody}} value="{{errorBody.email}}" {{/if}}/></label>
      <label for="field3"><span>Teléfono </span><input type="text" class="input-field" name="phone" {{#if errorBody}} value="{{errorBody.phone}}" {{/if}} /></label>
      {{#if errors.errorMessagePhone}} {{errors.errorMessagePhone}} {{/if}}
      <label for="field4"><span>Provincia</span>
      <select name="city" class="select-field">
      {{#select errorBody.errorIdCity }}
        <option value="">Selecciona Provincia</option>
        <option value="1">Madrid</option>
        <option value="2">Barcelona</option>
        <option value="3">Valencia</option>
      {{/select}}
      </select>
      </label>
      <div>{{#if errors.errorMessageCity}} {{errors.errorMessageCity}} {{/if}}
    </fieldset>
    <fieldset><legend>Anuncio</legend>
      <label for="field4"><span>Tipo</span><select name="type" class="select-field">
      <option value="OFERTA">OFERTA</option>
      <option value="DEMANDA">DEMANDA</option>
      </select></label>
      <label for="field1"><span>Título <span class="required">*</span></span><input type="text" class="input-field" name="title" {{#if errorBody}} value="{{errorBody.title}}"{{/if}}/></label>
      <label for="field6"><span>Descrpción <span class="required">*</span></span><textarea name="description" class="textarea-field">{{#if errorBody}}{{errorBody.description}}{{/if}}</textarea></label>
      <label><span> </span><input type="submit" value="Submit" /></label>
    </fieldset>
  </form>
</div>