{{!-- <div class="form-style-3">
  <form action="/publicar-anuncio/{{categoryId}}{{ad.category}}" method="POST" enctype="multipart/form-data">
    <fieldset><legend>Personal</legend>
        <label for="field1"><span>Nombre <span class="required">*</span></span><input type="text" class="input-field" name="name" value="{{ad.name}}"/></label>
        {{errors.name}}
        <label for="field2"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="email" value="{{#if session}}{{session.email}}{{else}}{{ad.email}}{{/if}}"/></label>
        {{errors.email}}
        <label for="field3"><span>Teléfono </span><input type="number" class="input-field" name="phone" value="{{ad.phone}}"/></label>
        {{errors.phone}}
        <label for="field4"><span>Provincia <span class="required">*</span></span>
          <select name="state" class="select-field">
          {{#select ad.state }}
          <option value="">Selecciona Provincia</option>
          <option value="15">A Coruña</option>
          <option value="2">Albacete</option>
          <option value="3">Alicante</option>
          <option value="4">Almería</option>
          <option value="1">Álava</option>
          <option value="33">Asturias</option>
          <option value="5">Ávila</option>
          <option value="6">Badajoz</option>
          <option value="7">Baleares</option>
          <option value="8">Barcelona</option>
          <option value="9">Burgos</option>
          <option value="10">Cáceres</option>
          <option value="11">Cádiz</option>
          <option value="39">Cantabria</option>
          <option value="12">Castellón</option>
          <option value="13">Ciudad Real</option>
          <option value="14">Córdoba</option>
          <option value="16">Cuenca</option>
          <option value="51">Ceuta</option>
          <option value="20">Guipúzcoa</option>
          <option value="17">Girona</option>
          <option value="18">Granada</option>
          <option value="19">Guadalajara</option>
          <option value="21">Huelva</option>
          <option value="22">Huesca</option>
          <option value="23">Jaén</option>
          <option value="24">León</option>
          <option value="25">Lleida</option>
          <option value="27">Lugo</option>
          <option value="28">Madrid</option>
          <option value="29">Málaga</option>
          <option value="52">Melilla</option>
          <option value="30">Murcia</option>
          <option value="31">Navarra</option>
          <option value="32">Ourense</option>
          <option value="34">Palencia</option>
          <option value="35">Las Palmas</option>
          <option value="36">Pontevedra</option>
          <option value="26">La Rioja</option>
          <option value="37">Salamanca</option>
          <option value="38">Tenerife</option>
          <option value="40">Segovia</option>
          <option value="41">Sevilla</option>
          <option value="42">Soria</option>
          <option value="43">Tarragona</option>
          <option value="44">Teruel</option>
          <option value="45">Toledo</option>
          <option value="46">Valencia</option>
          <option value="47">Valladolid</option>
          <option value="48">Vizcaya</option>
          <option value="49">Zamora</option>
          <option value="50">Zaragoza</option>
          {{/select}}
          </select>
        </label>
        {{errors.state}}
        <label for="field1"><span>Localidad</span><input type="text" class="input-field" name="city" value="{{ad.city}}"/></label>
        {{errors.city}}
    </fieldset>
    <fieldset><legend>Anuncio</legend>
      <label for="field4"><span>Tipo</span><select name="vendor" class="select-field">
      <option value="DEMANDA">BUSCO EMPLEO</option>
      <option value="OFERTA">OFREZCO EMPLEO</option>
      </select></label>
      <label for="field1"><span>Título <span class="required">*</span></span><input type="text" class="input-field" name="title" value="{{ad.title}}"/></label>
      {{errors.title}}
      <label for="field6"><span>Descripción <span class="required">*</span></span><textarea name="description" class="textarea-field">{{ad.description}}</textarea></label>
      {{errors.description}}
          <article>
          <input type="file" name="image" id="files" multiple accept="image/png, image/jpeg"/>
          <output id="result"/>
          </article>
      <label class="finalSubmitPost"><input type="submit" value="Publicar"/></label>
    </fieldset>
  </form>
</div>
<script>

window.onload = function(){

//Check File API support
if(window.File && window.FileList && window.FileReader)
{
var filesInput = document.getElementById("files");

filesInput.addEventListener("change", function(event){

var files = event.target.files; //FileList object
var output = document.getElementById("result");

for(var i = 0; i< files.length; i++)
{
var file = files[i];

//Only pics
if(!file.type.match('image'))
continue;

var picReader = new FileReader();

picReader.addEventListener("load",function(event){

var picFile = event.target;

var div = document.createElement("div");

div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
  "title='" + picFile.name + "'/>";

output.insertBefore(div,null);            

});

//Read the image
picReader.readAsDataURL(file);
}                               

});
}
else
{
console.log("Your browser does not support File API");
}
}
</script> --}}